name: Security

on:
  schedule:
    - cron: '0 5 * * 1-5'
  workflow_dispatch:

jobs:
  scan-code:
    name: Scan code
    runs-on: ubuntu-latest
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Grype source code
        id: grype_source_code
        uses: anchore/scan-action@v7
        with:
          path: .
          fail-build: false
          severity-cutoff: high
          only-fixed: true

      - name: Upload Grype source code report
        if: steps.grype_source_code.outputs.sarif != ''
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.grype_source_code.outputs.sarif }}
          category: source-code

  scan-docker:
    name: Scan Docker ${{ matrix.platform }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [ 'linux/amd64', 'linux/arm64' ]
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 25
        uses: actions/setup-java@v5
        with:
          java-version: '25'
          distribution: 'temurin'
          cache: maven

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build
        run: mvn clean package -DskipTests

      - name: Metadata
        id: metadata
        run: |
          platform_slug=$(echo ${{ matrix.platform }} | sed 's/\//-/g')
          echo platform_slug=$platform_slug >> $GITHUB_OUTPUT
          echo image_name=loicgreffier/docsource:$platform_slug-jar >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
        
      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .docker/jar.Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          load: true
          tags: ${{ steps.metadata.outputs.image_name }}
        env:
          DOCKER_BUILD_SUMMARY: false

      - name: Grype Docker image
        id: grype_docker_image
        uses: anchore/scan-action@v7
        with:
          image: ${{ steps.metadata.outputs.image_name }}
          fail-build: false
          severity-cutoff: high
          only-fixed: true

      - name: Upload Grype Docker image report
        if: steps.grype_docker_image.outputs.sarif != ''
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.grype_docker_image.outputs.sarif }}
          category: docker-image-${{ steps.metadata.outputs.platform_slug }}

  build-native:
    name: Build Native Image ${{ matrix.platform }}
    runs-on: ${{ matrix.os }}
    outputs:
      current_version: ${{ steps.metadata.outputs.current_version }}
    strategy:
      matrix:
        os: [ 'ubuntu-latest', 'ubuntu-24.04-arm' ]
        include:
          - os: 'ubuntu-latest'
            platform: 'linux-amd64'
            extension: ''
          - os: 'ubuntu-24.04-arm'
            platform: 'linux-arm64'
            extension: ''
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up GraalVM
        uses: graalvm/setup-graalvm@v1
        with:
          distribution: 'graalvm'
          java-version: '25'
          native-image-musl: ${{ matrix.os == 'ubuntu-latest' }}
          github-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Cache Maven packages
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2

      - name: Build
        run: mvn clean package -DskipTests -Pnative ${{ matrix.os == 'ubuntu-latest' && '-Pnative-static-musl' || '' }}

      - name: Metadata
        id: metadata
        run: echo current_version=$(echo $(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)) >> $GITHUB_OUTPUT

      - name: Upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: docsource-${{ matrix.platform }}
          path: target/docsource-${{ steps.metadata.outputs.current_version }}${{ matrix.extension }}

  scan-docker-native:
    name: Scan Docker Native Image ${{ matrix.platform }}
    runs-on: ubuntu-latest
    needs: build-native
    strategy:
      matrix:
        platform: [ 'linux/amd64', 'linux/arm64' ]
    steps:
      - name: Checkout project
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Download artifact
        uses: actions/download-artifact@v6
        with:
          pattern: docsource-linux-*
          path: target

      - name: Metadata
        id: metadata
        run: |
          platform_slug=$(echo ${{ matrix.platform }} | sed 's/\//-/g')
          echo platform_slug=$platform_slug >> $GITHUB_OUTPUT
          echo image_name=loicgreffier/docsource:$platform_slug >> $GITHUB_OUTPUT

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker build
        uses: docker/build-push-action@v6
        with:
          context: .
          file: .docker/Dockerfile
          platforms: ${{ matrix.platform }}
          push: false
          load: true
          tags: ${{ steps.metadata.outputs.image_name }}
        env:
          DOCKER_BUILD_SUMMARY: false

      - name: Grype Docker image
        id: grype_docker_image
        uses: anchore/scan-action@v7
        with:
          image: ${{ steps.metadata.outputs.image_name }}
          fail-build: false
          severity-cutoff: high
          only-fixed: true

      - name: Upload Grype Docker image report
        if: always() && steps.grype_docker_image.outputs.sarif != ''
        uses: github/codeql-action/upload-sarif@v4
        with:
          sarif_file: ${{ steps.grype_docker_image.outputs.sarif }}
          category: docker-image-native-${{ steps.metadata.outputs.platform_slug }}